body{
    margin: 0;
    background-color: #f3ecff;
    
    
}
a{
    color: white;
}
header{
    height: 70px;
    display: flex;
    background-color: #d6c9ff;
    align-items: center;
}
div{
    width: 200px;
    transition: width 0.3s ease;
}

div:hover{
    width: 300px;
}

.logo{
    display: flex;
}

.separacio1{
    background-color: #e5e0f7;
    display: flex;
    margin: 2%;
    justify-content: space-around;
}

.fonsTema1{
    margin-top: 15px;
    margin-bottom: 15px;
    background-image: url(imatgescss/tema1.webp);
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
}
.fonsTema2{
    margin-top: 15px;
    margin-bottom: 15px;
    background-image: url(imatgescss/images\ \(1\).jpeg);
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
}
.fonsTema3{
    margin-top: 15px;
    background-image: url(imatgescss/tema3.jpg);
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
}
.fonsTema4{
    margin-top: 15px;
    margin-bottom: 15px;
    background-image: url(imatgescss/Tema4.jpeg);
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
    margin-left: 20%;
}

.fonsApuntsTema2{
    margin-top: 15px;
    margin-bottom: 15px;
    background-image: url(imatgescss/Apunts_tema2.jpg);
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
    margin-left: 20%;
}

.marginLletra{
    margin-left: 66px;
    margin-right: 66px;
    transition: margin 0.3s ease;
}
.imatgeAlign{
    display: flex;
    margin-left: 40%;
}

.fonsCurriculum{
    margin-top: 15px;
    margin-bottom: 15px;
    background-image: url(imatgescss/curriculum.webp);
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    color: white;
}

.fonsApunts{
    margin-top: 15px;
    margin-bottom: 15px;
    background-image: url(imatgescss/apuntes.png);
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
}

.fonsTasques{
    margin-top: 15px;
    margin-bottom: 15px;
    background-image: url(imatgescss/tasquesTema2.jpeg);
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
}

.fonsApuntsTema3{
    margin-top: 15px;
    margin-bottom: 15px;
    background-image: url(imatgescss/Apuntes_Tema3.jpg);
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
}

.fonsApuntstema4{
    margin-top: 15px;
    margin-bottom: 15px;
    background-image: url(imatgescss/apunts_Tema4.jpeg);
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
}

.fonsContingut{
    margin-top: 15px;
    margin-bottom: 15px;
    background-image: url(imatgescss/contingut_tema1.jpg);
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
}

.fonsContingut2{
    margin-top: 15px;
    margin-bottom: 15px;
    background-image: url(imatgescss/contingt2.webp);
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
}

h1{
    margin-left: 10px;
}

h2{
    margin-left: 20px;
}

.Sectioncentrat{
    display: flex;
    align-self: center;
    background-color: #e5e0f7;
    margin: 2%;
}
.Centrarnav{
    margin-left: 41%;
}

.marginLletra2{
    margin-left: 41%;
}

.centraImatge{
    display: flex;
    align-content: center;
    margin-left: 43%;
}

.centraImatge img{
    margin-bottom: 10px;
}
